@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500&family=Poppins:wght@300;500&display=swap&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* + Paleta de Colores */
    --dark-solid-1: #1F1F1F;
    --dark-solid-2: #3f4249;
    --dark-solid-3: #68696a;
    --light-font-solid: #ebecef;
    --transition-font-1: #cb1228;
    --transition-font-2: #2a0307;
    --text-shadow: #8e8e90d4 4px 3px 2px;
    /* background: linear-gradient(0deg, rgba(203,18,40,1) 16%, rgba(42,3,7,1) 93%); */

    /* + Tipografia */
    --base-font-family: 'Hind', sans-serif;
    --alternative-font-family: 'Poppins', sans-serif;

    /* + Tamaño de Letra */
    --font-display: 3em;
    --font-jumbo: 2.4em;
    --font-xlarge: 2em;
    --font-large: 1.8em;
    --font-medium: 1.2em;
    --font-small: 1em;
    --font-xsmall: 0.8em;

    /* + Espaciado */
    --spacing-240: 24rem;
    --spacing-200: 20rem;
    --spacing-180: 18rem;
    --spacing-160: 16rem;
    --spacing-130: 13rem;
    --spacing-100: 10rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font-family);
    color: var(--dark-solid-1);
}

body {
    background-color: #f9f8f8d7;
    position: relative;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    filter: drop-shadow(#202021d1 4px 3px 2px);
}

figure {
    display: flex;
    align-items: center;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* + HEADER */
/* + NAVBAR */
.background {
    background-image: url(../img/backgrounds/backgraund1.jpg);
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--alternative-font-family);
    color: var(--dark-solid-1);
    height: 750px;
}

.banner__estilo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: var(--spacing-16) 0;
}

.navbar__estilo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--spacing-16) var(--spacing-8);
}

.logo__estilo {
    display: flex;
    /* align-items: flex-end; */
    gap: var(--spacing-12);
    max-width: 25vw;
}

.title__navbar {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: var(--font-jumbo);
    font-weight: 400;
    text-shadow: var(--text-shadow);
}

.navbar__items__orientacion {
    display: flex;
    align-items: flex-end;
}

.navbar__items {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
}

.navbar__estilo__lista {
    font-size: var(--font-medium);
    font-weight: 400;
    text-shadow: var(--text-shadow);
    transition: 0.2s ease-in-out;
}

.navbar__estilo__lista:hover {
    text-decoration: line-through 2px solid var(--transition-font-1);
}

/* + PRESENTACION */

.presentacion__estilo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.presentacion__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8);
}

.presentacion__title {
    font-family: var(--base-font-family);
    font-size: var(--font-large);
    font-weight: 300;
    color: var(--dark-solid-1);
    text-shadow: #8e8e90d4 2px 2px 2px;
    text-align: center;
}

.presentacion__enlaces {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-20);
}

.presentacion__enlaces__estilo {
    max-width: 4vw;
}

.iconos__presentacion {
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.iconos__presentacion:hover {
    transform: translateY(3px);
    filter: none;
}

.presentacion__enlaces__parrafo {
    text-align: center;
    font-size: var(--font-xsmall);
}

.presentacion__foto__estilo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 65%;
    border-radius: 250px;
}

/* + MAIN */
/* + SOBRE MI */

main {
    display: flex;
    flex-direction: column;
}

.sobre__mi__estilos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-12);
    padding: var(--spacing-36);
}

.sobre__mi__subtitle {
    font-size: var(--font-jumbo);
    font-weight: 300;
    color: var(--dark-solid-1);
    font-family: var(--base-font-family);
    padding: var(--spacing-8);
    text-shadow: var(--text-shadow);
}

.primera_letra {
    color: var(--transition-font-1);
}

.sobre__mi__parrafo {
    font-size: var(--font-medium);
    font-weight: 300;
    font-family: var(--base-font-family);
    color: var(--dark-solid-1);
    text-align: justify;
    padding: var(--spacing-8);
}

.carrusel {
    display: grid;
    grid: auto-flow var(--spacing-130)/repeat(2, var(--spacing-130));
    /* gap: var(--spacing-8); */
}

.carrusel img {
    width: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    filter: grayscale();
    z-index: 0;
    transition: .20s, z-index 0s .25s;
}

.carrusel img:hover {
    width: calc(175%);
    filter: grayscale(0);
    z-index: 1;
    transition: .4s, z-index 0s;
}

.carrusel img:nth-child(1) {
    clip-path: circle();
    place-self: start;
}

.carrusel img:nth-child(2) {
    clip-path: circle();
    place-self: start end;
}

.carrusel img:nth-child(3) {
    clip-path: circle();
    place-self: end start;
}

.carrusel img:nth-child(4) {
    clip-path: circle();
    place-self: end;
}


/* + SKILLS */

.background__seccion {
    /* background: #e0e1e27a; */
    background: rgb(173, 172, 172);
    background: linear-gradient(346deg, rgba(147, 147, 147, 0.577) 16%, rgba(250, 250, 250, 0.76) 93%);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    padding: var(--spacing-68);
    align-items: center;
    justify-content: center;
}

.skills__estilos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: var(--spacing-24);
    padding: var(--spacing-20);
}

.skills__article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    align-items: center;
    justify-content: center;
}

.skills__subtitle {
    padding: var(--spacing-8);
    font-family: var(--base-font-family);
    font-size: var(--font-jumbo);
    font-weight: 300;
    color: var(--dark-solid-1);
    text-shadow: var(--text-shadow);
    width: 300px;
    text-align: center;
}

.skills__texto__parrafo {
    font-size: var(--font-small);
    text-align: justify;
    font-family: var(--alternative-font-family);
    font-weight: 300;
    margin: auto var(--spacing-12);
}

.skills__estilos__div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-16);
}

.skills__estilos__picture {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    border: solid 1px var(--dark-solid-2);
    border-radius: 25px;
    padding: var(--spacing-8);
    background-color: #f9f8f8d7;
    width: 200px;
}

.skills__estilos__img {
    max-width: 30px;
    border-radius: 12px;
    filter: none;
}

.boton__skills {
    font-family: var(--alternative-font-family);
    font-size: var(--font-xsmall);
    font-weight: 300;
    white-space: nowrap;
}

.skills__estilos__picture {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.skills__estilos__picture:hover {
    transform: translateY(-6px);
    filter: drop-shadow(#ff0000ab 4px 3px 2px);
}

/* + FORMACION */

.formacion__estilo {
    display: grid;
    gap: var(--spacing-36);
    align-items: center;
    padding: var(--spacing-68) var(--spacing-20);
}

.formacion__title {
    padding: var(--spacing-8);
    font-family: var(--base-font-family);
    font-size: var(--font-jumbo);
    font-weight: 300;
    color: var(--dark-solid-1);
    text-shadow: var(--text-shadow);
    width: 100%;
    text-align: center;
}

.formacion__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-16);
}

.formacion__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--dark-solid-1);
    max-width: 100%;
    max-height: 100%;
    width: 25vw;
    height: 55vh;
    box-shadow: var(--text-shadow);
    border-radius: 10px;
    gap: var(--spacing-12);
}

.formacion__card__picture {
    display: flex;
    align-items: center;
}

.formacion__card__img {
    width: 25vw;
    height: 30vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.formacion__card_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    width: 25vw;
    height: 15vh;
    justify-content: space-between;
}

.formacion__texto__estilo {
    font-family: var(--alternative-font-family);
    font-size: var(--font-xsmall);
    color: var(--dark-solid-1);
    text-align: center;
}

.boton__formacion__enlace {
    border: 1px solid var(--dark-solid-1);
    padding: 2px var(--spacing-8);
    border-radius: 10px;
    font-family: var(--alternative-font-family);
    box-shadow: var(--text-shadow);
    color: var(--dark-solid-1);
    background: #dfdedea6;
    /* background: linear-gradient(0deg, rgba(203,18,40,1) 16%, rgba(42,3,7,1) 93%); */
    transition: 0.2s ease-in-out;
}

.boton__formacion__enlace:hover {
    transform: translateY(3px);
    /* filter: drop-shadow(#202021d1 4px 3px 2px); */
    box-shadow: none;
}

/* + PROYECTOS */

.proyectos__estilos {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: var(--spacing-16);
    /* padding: var(--spacing-68); */
}

.proyecto__subtitle {
    padding: var(--spacing-8);
    font-family: var(--base-font-family);
    font-size: var(--font-jumbo);
    font-weight: 300;
    color: var(--dark-solid-1);
    text-shadow: var(--text-shadow);
    /* text-align: center; */
}

.proyectos__selector {
    display: flex;
    gap: var(--spacing-12);
    align-items: center;
    justify-content: space-around;
}

.proyectos__selector__estilos {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.proyecto__lista {
    font-family: var(--alternative-font-family);
    font-weight: 300;
    font-size: var(--font-large);
    color: var(--dark-solid-1);
    text-shadow: var(--text-shadow);
}

.proyectos__selector__estilos__ul {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.item__proyecto {
    white-space: nowrap;
    font-family: var(--alternative-font-family);
    font-size: var(--font-medium);
    font-weight: 300;
    color: var(--dark-solid-1);
    padding: 0 var(--spacing-12);
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.item__proyecto.seleccion__activa {
    background-color: #68696a28;
    border-radius: 8px;
}

.proyectos__cards {
    display: flex;
    align-items: center;
}

.proyectos__estilos__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f8f8d7;
    border-radius: 10px;
    box-shadow: var(--text-shadow);
    max-height: 100%;
    max-width: 100%;
}

.proyectos__estilos__cards__picture {
    max-width: 100%;
    width: 40vw;
    max-height: 100%;
    height: 40vh;
    display: flex;
    /* align-items: center; */
}

.proyectos__estilos__cards__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: none;
    /* object-fit: contain; */
    width: 100%;
    height: 100%;
}

.proyectos__texto__estilos {
    display: flex;
    flex-direction: column;
    height: 25vh;
    align-items: center;
    padding: var(--spacing-16);
    gap: var(--spacing-8);
    justify-content: space-between;
}


.proyectos__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyectos__texto__h3 {
    font-family: var(--alternative-font-family);
    font-size: var(--font-small);
    font-weight: 400;
    text-align: center;
    /* text-shadow: var(--text-shadow); */
    color: var(--dark-solid-1);
}

.proyectos__texto__p {
    font-family: var(--alternative-font-family);
    font-size: var(--font-xsmall);
    font-weight: 300;
    text-align: center;
    color: var(--dark-solid-1);
    max-width: 100%;
    width: 270px;
    white-space: wrap;
}

.proyectos__botones {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.proyectos__botones__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark-solid-1);
    height: 25px;
    width: 120px;
    border-radius: 10px;
    font-family: var(--alternative-font-family);
    box-shadow: var(--text-shadow);
    color: var(--dark-solid-1);
    background: #dfdedea6;
    transition: 0.2s ease-in-out;
}

.proyectos__botones__button:hover {
    transform: translateY(3px);
    box-shadow: none;
}

/* + CONTACTO */
.estilo__formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-36);
    align-items: center;
    justify-items: center;
    padding: var(--spacing-68);
}

.estilo__formulario__div {
    display: flex;
    flex-direction: column;
}

.estilo__formulario__title {
    font-family: var(--alternative-font-family);
    font-size: var(--font-jumbo);
    font-weight: 300;
    color: var(--dark-solid-1);
    text-shadow: var(--text-shadow);
    text-align: center;
    padding: var(--spacing-8);
}

.estilo__formulario__texto {
    font-family: var(--alternative-font-family);
    font-size: var(--font-medium);
    font-weight: 300;
    color: var(--dark-solid-1);
    text-align: center;
}

.estilo__formulario__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-12);
    border-radius: 15px;
    border: 1px solid var(--dark-solid-1);
    padding: var(--spacing-16);
    box-shadow: var(--text-shadow);
    background: rgb(173, 172, 172);
    background: linear-gradient(346deg, rgba(147, 147, 147, 0.577) 16%, rgba(250, 250, 250, 0.76) 93%);
    width: 30vw;
}

.estilo__formulario__label {
    font-family: var(--alternative-font-family);
    font-size: var(--font-small);
    font-weight: 400;
    color: var(--dark-solid-1);
    text-shadow: var(--text-shadow);
}

.estilo__formulario_input {
    border-radius: 10px;
    border: 1px solid var(--dark-solid-3);
    padding: 5px 8px;
    background-color: #ffffff;
    font-family: var(--alternative-font-family);
    font-size: var(--font-small);
    font-weight: 100;
    color: var(--dark-solid-1);
    /* box-shadow: var(--text-shadow); */
}

.area__de__texto {
    background-color: transparent;
    resize: none;
    overflow: hidden;
    text-align: justify;
    /* text-transform: lowercase; */
    border-radius: 10px;
    border: 1px solid var(--dark-solid-3);
    padding: 7px 10px;
    height: 25vh;
    background-color: #ffffff;
    font-family: var(--alternative-font-family);
    font-size: var(--font-xsmall);
    font-weight: 100;
    color: var(--dark-solid-1);
    /* box-shadow: var(--text-shadow); */
}

#botonEnviar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark-solid-1);
    height: 25px;
    width: 120px;
    border-radius: 10px;
    font-family: var(--alternative-font-family);
    box-shadow: var(--text-shadow);
    color: var(--light-font-solid);
    background: linear-gradient(0deg, rgba(203, 18, 40, 1) 16%, rgba(42, 3, 7, 1) 93%);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

#botonEnviar:hover {
    transform: translateY(3px);
    box-shadow: none;
}

/* + Validación */

.estilo__formulario-correcto {
    border: 1px solid #7bc62d;
}

.estilo__formulario-incorrecto {
    border: 1px solid var(--transition-font-1);
}

.mensaje__alerta {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#mensaje-incorrecto,
#mensaje-correcto {
    display: none;
}

.mensaje__alerta .mensaje-incorrecto_correcto {
    font-family: var(--alternative-font-family);
    font-size: var(--font-small);
    font-weight: 300;
    color: var(--dark-solid-1);
    display: flex;
    gap: var(--spacing-8);
    padding: 0 var(--spacing-8);
    align-items: center;
}

/* + Boton Flotante */
/* 
#btn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 50px;
    outline: none;
    background: linear-gradient(0deg, rgba(203, 18, 40, 1) 16%, rgba(42, 3, 7, 1) 93%);
    color: var(--light-font-solid);
    cursor: pointer;
    border-radius: 30px;
    font-size: 16px;
    border: 1px solid var(--dark-solid-3);
    box-shadow: var(--text-shadow);
    transition: transform 0.3s ease-in-out;
}

#btn:hover {
    transform: scale(1.2);
}

#svgTop {
    display: flex;
    align-items: center;
    margin: 5px;
} */

/* + FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-12);
    padding: var(--spacing-36);
    background: rgb(173, 172, 172);
    background: linear-gradient(346deg, rgba(147, 147, 147, 0.577) 16%, rgba(250, 250, 250, 0.76) 93%);
}

.footer__title {
    font-family: var(--alternative-font-family);
    font-size: var(--font-large);
    font-weight: 100;
    color: var(--dark-solid-1);
    text-shadow: var(--text-shadow);
}

.footer__div {
    display: flex;
    align-items: center;
    height: 60px;
}

.footer__img {
    height: 100%;
    width: 100%;
    filter: none;
}

#rafael1 {
    display: block;
}

#rafael2 {
    display: none;
}

.footer__div:hover {
    #rafael1 {
        display: none;
    }

    #rafael2 {
        display: block;
    }
}

@media screen and (max-width: 992px) {

    /* + HEADER */
    /* + NAVBAR */
    .background {
        height: 600px;
    }

    .navbar__estilo {
        justify-content: space-around;
        margin: var(--spacing-8);
    }

    .logo__estilo {
        max-width: 23vw;
    }

    .title__navbar {
        white-space: wrap;
    }

    .navbar__items {
        gap: var(--spacing-12);
    }

    .skills__estilos {
        grid-template-columns: repeat(1, 2fr);
        gap: var(--spacing-8);
        padding: var(--spacing-8);
    }

    #hobbies article {
        order: -1;
        flex-basis: 100%;
        /* Para asegurar que el artículo ocupe todo el ancho disponible si es necesario */
    }

    .skills__texto__parrafo {
        font-size: var(--font-small);
        text-align: center;
        margin: auto var(--spacing-12);
    }

    .skills__estilos__div {
        padding: var(--spacing-12);
    }

    .formacion__estilo {
        gap: var(--spacing-8);
        padding: var(--spacing-68) var(--spacing-12);
    }

    .formacion__contenedor {
        gap: var(--spacing-12);
    }

    .formacion__card {
        max-width: 100%;
        max-height: 100%;
        width: 25vw;
        height: 43vh;
        gap: var(--spacing-8);
    }

    .formacion__card__img {
        width: 25vw;
        height: 20vh;
        max-width: 100%;
        max-height: 100%;
        object-fit: fill;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .formacion__card_texto {
        max-width: 100%;
        max-height: 100%;
        width: 25vw;
        height: 18vh;
    }

    /* + PROYECTOS */

    .proyectos__texto__estilos {
        height: 30vh;
    }

}


@media screen and (max-width: 768px) {

    /* + HEADER */
    /* + NAVBAR */
    .banner__estilo {
        gap: var(--spacing-16);
    }

    .navbar__estilo {
        justify-content: center;
        margin: inherit;
    }

    .logo__estilo {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 10vw;
        gap: 0;
    }

    .title__navbar {
        white-space: nowrap;
    }

    .navbar__items {
        display: none;
    }

    /* + PRESENTACION */

    .presentacion__estilo {
        gap: 0;
    }

    .presentacion__title {
        font-size: 1.6em;
    }

    /* + MAIN */
    /* + SOBRE MI */

    .sobre__mi__estilos {
        flex-direction: column;
    }

    .sobre__mi__parrafo {
        font-size: var(--font-small);
    }

    .carrusel {
        display: flex;
        gap: var(--spacing-8);
        align-items: center;
        justify-content: center;
    }

    .carrusel img {
        width: 20%;
        transition: none;
        filter: none;
    }

    /* + SKILLS */

    .background__seccion {
        padding: var(--spacing-20);
        gap: var(--spacing-8);
    }

    .skills__estilos__div {
        gap: var(--spacing-8);
    }


    /* + PROYECTOS */

    .proyecto__lista {
        font-size: var(--font-medium);
    }

    .item__proyecto {
        font-size: var(--font-small);
    }

    .proyectos__estilos__cards__picture {
        max-width: 100%;
        /* width: 30vw; */
        max-height: 100%;
        height: 35vh;
        object-fit: fill;
    }

    .proyectos__texto__estilos {
        padding: var(--spacing-12);
    }

    /* + CONTACTO */
    .estilo__formulario {
        gap: var(--spacing-8);
        padding: var(--spacing-36) var(--spacing-12);
    }

    .estilo__formulario__form {
        box-sizing: content-box;
    }

    footer {
        padding: var(--spacing-20);
    }
}

@media screen and (max-width: 600px) {

    /* + HEADER */
    /* + NAVBAR */

    .background {
        height: 450px;
        /* padding: 0; */
    }

    .banner__estilo {
        justify-content: space-around;
        gap: 0;
        padding: 0 var(--spacing-12);
    }


    /* + MAIN */
    /* + SOBRE MI */

    .sobre__mi__estilos {
        padding: var(--spacing-36) var(--spacing-12);
    }

    /* + FORMACION */

    .formacion__estilo {
        gap: var(--spacing-8);
        padding: var(--spacing-36) var(--spacing-12);
        margin: 0;
    }

    .formacion__contenedor {
        flex-wrap: wrap;
        gap: var(--spacing-12);
        justify-content: center;
    }

    .formacion__card {
        max-width: 100%;
        max-height: 100%;
        width: 35vw;
        height: 55vh;
        gap: var(--spacing-12);
    }

    .formacion__card__img {
        width: 35vw;
        height: 25vh;
        max-width: 100%;
        max-height: 100%;
    }

    .formacion__card_texto {
        max-width: 100%;
        max-height: 100%;
        width: 30vw;
        height: 22vh;
        justify-content: space-between;
    }

    /* + PROYECTOS */

    .proyectos__selector {
        display: flex;
        flex-direction: column;
        gap: none;
        align-items: center;
        justify-content: center;
    }

    .proyectos__selector__estilos__ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        /* white-space: wrap; */
        justify-content: center;
        gap: var(--spacing-8);
    }

    .item__proyecto {
        font-size: var(--font-xsmall);
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .proyectos__estilos__cards__picture {
        max-width: 100%;
        width: 50vw;
        max-height: 100%;
        height: 35vh;
        align-items: center;
        justify-content: center;
    }


    .proyectos__estilos__cards__img {
        /* object-fit: fill; */
        width: 100%;
        height: 35vh;
    }

    .proyectos__texto__estilos {
        width: 50vw;
        padding: var(--spacing-16) var(--spacing-8);
    }

    /* + CONTACTO */

    .estilo__formulario {
        grid-template-columns: repeat(1, 2fr);
        gap: var(--spacing-12);
        padding: var(--spacing-20);
    }

    .estilo__formulario__form {
        gap: var(--spacing-12);
        padding: var(--spacing-16);
        width: 55vw;
    }

    /* + FOOTER */

    footer {
        gap: var(--spacing-12);
        padding: var(--spacing-20);
    }

    .footer__title {
        font-size: var(--font-medium);
    }

    .footer__div {
        height: 40px;
    }
}


@media screen and (max-width: 480px) {
    /* + HEADER */
    /* + NAVBAR */

    .background {
        height: 400px;
    }

    .banner__estilo {
        gap: var(--spacing-16);
        justify-content: center;
    }

    .logo__estilo {
        gap: var(--spacing-8);
    }

    /* + PRESENTACION */

    .presentacion__enlaces__estilo {
        max-width: 7vw;
    }

    /* + SKILLS */


    .skills__parrafo {
        display: none;
    }

    .skills__estilos__div {
        gap: var(--spacing-24);
    }

    .skills__estilos__picture {
        width: 100px;
        height: 100px;
        justify-content: center;
        box-shadow: var(--text-shadow);
        border-radius: 35px;
    }

    .skills__estilos__img {
        max-width: 45px;
        border-radius: 15px;
    }

    .boton__skills {
        display: none;
    }


    /* + FORMACION */

    .formacion__contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--spacing-16);
    }

    .formacion__card {
        max-width: 100%;
        max-height: 100%;
        width: 45vw;
        height: 48vh;
    }

    .formacion__card__img {
        width: 45vw;
        height: 22vh;
        max-width: 100%;
        max-height: 100%;
        object-fit: fill;
    }

    .formacion__card_texto {
        max-width: 100%;
        max-height: 100%;
        width: 45vw;
        height: 18vh;
    }

    /* + PROYECTOS */

    .proyectos__estilos__cards {
        width: 60vw;
        max-height: 100%;
        max-width: 100%;
    }

    .proyectos__estilos__cards__picture {
        max-width: 100%;
        width: 60vw;
        max-height: 100%;
    }

}